BasedOnStyle: Google
Language: Cpp
DerivePointerAlignment: false
PointerAlignment: Left
IndentWidth: 2
UseTab: Never
TabWidth: 2
ContinuationIndentWidth: 2
ColumnLimit: 90
SeparateDefinitionBlocks: Always
CommentPragmas: '^'
BreakBeforeBinaryOperators: NonAssignment
AllowAllArgumentsOnNextLine: true
BinPackArguments: false
BinPackParameters: false
AlignAfterOpenBracket: Align
AlwaysBreakTemplateDeclarations: Yes

ExperimentalAutoDetectBinPacking: false
AllowAllParametersOfDeclarationOnNextLine: false

PenaltyReturnTypeOnItsOwnLine: 20
PenaltyBreakBeforeFirstCallParameter: 188
PenaltyBreakComment: 300
PenaltyBreakFirstLessLess: 60
PenaltyBreakString: 60
PenaltyExcessCharacter: 30
PenaltyBreakAssignment: 200000
