BasedOnStyle: Google
Language: Cpp
DerivePointerAlignment: false
PointerAlignment: Left
IndentWidth: 2
UseTab: Never
TabWidth: 2
ContinuationIndentWidth: 2
ColumnLimit: 75
#AlwaysBreakAfterDefinitionReturnType: TopLevel
SeparateDefinitionBlocks: Always
CommentPragmas: '^'
