if [[ $(uname) == "Darwin" ]] ; then
    source py/bin/activate
    PATH_add /opt/homebrew/opt/llvm@19/bin
    export CC=/opt/homebrew/opt/llvm@19/bin/clang
    export CXX=/opt/homebrew/opt/llvm@19/bin/clang++
fi
