name: Benchmarks

on:
  pull_request:
    branches:
      - main

concurrency:
  group: ${{ github.workflow }}-${{ github.event.pull_request.number || github.ref }}
  cancel-in-progress: true

jobs:
  run-benchmarks-release:
    # Containers must run in Linux based operating systems
    runs-on: ubuntu-latest

    permissions:
      pull-requests: write

    steps:
      - name: Maximize build space
        uses: easimon/maximize-build-space@v10
        with:
          overprovision-lvm: true
          remove-dotnet: true
          remove-android: true

      - name: Check out repository code
        uses: actions/checkout@v3

      - name: ccache
        uses: hendrikmuhs/ccache-action@v1.2
        with:
          key: ${{ github.job }}-${{ matrix.os }}
          create-symlink: true

      - name: Install LLVM and Clang
        uses: KyleMayes/install-llvm-action@v2
        with:
          version: "19.1.7"

      - name: Install libtinfo5 for clang
        run: |
          sudo apt update
          wget http://security.ubuntu.com/ubuntu/pool/universe/n/ncurses/libtinfo5_6.3-2ubuntu0.1_amd64.deb
          sudo apt install ./libtinfo5_6.3-2ubuntu0.1_amd64.deb

      - name: Set up GCC
        run: |
          sudo apt install gcc-14 g++-14
          sudo update-alternatives --install /usr/bin/gcc gcc /usr/bin/gcc-14 60 --slave /usr/bin/g++ g++ /usr/bin/g++-14 && sudo update-alternatives --config gcc

      - name: Check versions
        run: |
          clang --version
          clang-format --version
          gcc -v

      - name: Setup vcpkg
        run: |
          git clone https://github.com/microsoft/vcpkg.git $HOME/vcpkg
          $HOME/vcpkg/bootstrap-vcpkg.sh
          echo "VCPKG_ROOT=$HOME/vcpkg" >> $GITHUB_ENV

      - name: install dependencies vcpkg
        run: chmod +x ./scripts/install_dependencies.sh && ./scripts/install_dependencies.sh

      - name: base build
        run: chmod +x ./scripts/build.sh && ./scripts/build.sh -b Release

      - name: build with grammar
        run: chmod +x ./scripts/build_grammar.sh && ./scripts/build_grammar.sh -b Release

      - name: benchmark stock query
        run: chmod +x ./scripts/queries/benchmark_queries/build_and_benchmark_stock_queries.sh && ./scripts/queries/benchmark_queries/build_and_benchmark_stock_queries.sh -b Release

      - name: Read CSV
        id: csv_1
        uses: juliangruber/read-file-action@v1
        with:
          path: ./src/targets/experiments/stocks/benchmark_Release.csv

      - name: Create MD
        uses: petems/csv-to-md-table-action@master
        id: csv-table-output_1
        with:
          csvinput: ${{ steps.csv_1.outputs.content }}

      - uses: mshick/add-pr-comment@v2
        with:
          message-id: 1
          message: |
            Stocks:
            ${{steps.csv-table-output_1.outputs.markdown-table}}

      - name: benchmark unordered stock query
        run: chmod +x ./scripts/queries/benchmark_queries/build_and_benchmark_stock_queries_unordered.sh && ./scripts/queries/benchmark_queries/build_and_benchmark_stock_queries_unordered.sh -b Release

      - name: Read CSV
        id: csv_2
        uses: juliangruber/read-file-action@v1
        with:
          path: ./src/targets/experiments/unordered_stocks/benchmark_Release.csv

      - name: Create MD
        uses: petems/csv-to-md-table-action@master
        id: csv-table-output_2
        with:
          csvinput: ${{ steps.csv_2.outputs.content }}

      - uses: mshick/add-pr-comment@v2
        with:
          message-id: 2
          message: |
            Unordered Stocks:
            ${{steps.csv-table-output_2.outputs.markdown-table}}

      - name: benchmark smart home query
        run: chmod +x ./scripts/queries/benchmark_queries/build_and_benchmark_smart_homes_queries.sh && ./scripts/queries/benchmark_queries/build_and_benchmark_smart_homes_queries.sh -b Release

      - name: Read CSV
        id: csv_3
        uses: juliangruber/read-file-action@v1
        with:
          path: ./src/targets/experiments/smart_homes/benchmark_Release.csv

      - name: Create MD
        uses: petems/csv-to-md-table-action@master
        id: csv-table-output_3
        with:
          csvinput: ${{ steps.csv_3.outputs.content }}

      - uses: mshick/add-pr-comment@v2
        with:
          message-id: 3
          message: |
            Smart Homes:
            ${{steps.csv-table-output_3.outputs.markdown-table}}

      - name: benchmark taxi query
        run: chmod +x ./scripts/queries/benchmark_queries/build_and_benchmark_taxi_queries.sh && ./scripts/queries/benchmark_queries/build_and_benchmark_taxi_queries.sh -b Release

      - name: Read CSV
        id: csv_4
        uses: juliangruber/read-file-action@v1
        with:
          path: ./src/targets/experiments/taxis/benchmark_Release.csv

      - name: Create MD
        uses: petems/csv-to-md-table-action@master
        id: csv-table-output_4
        with:
          csvinput: ${{ steps.csv_4.outputs.content }}

      - uses: mshick/add-pr-comment@v2
        with:
          message-id: 4
          message: |
            Taxis:
            ${{steps.csv-table-output_4.outputs.markdown-table}}

      - name: benchmark ordered bluesky
        run: chmod +x ./scripts/queries/benchmark_queries/build_and_benchmark_bluesky_ordered.sh && ./scripts/queries/benchmark_queries/build_and_benchmark_bluesky_ordered.sh -b Release

      - name: Read CSV
        id: csv_5
        uses: juliangruber/read-file-action@v1
        with:
          path: ./src/targets/experiments/ordered_bluesky/benchmark_Release.csv

      - name: Create MD
        uses: petems/csv-to-md-table-action@master
        id: csv-table-output_5
        with:
          csvinput: ${{ steps.csv_5.outputs.content }}

      - uses: mshick/add-pr-comment@v2
        with:
          message-id: 5
          message: |
            Ordered Bluesky:
            ${{steps.csv-table-output_5.outputs.markdown-table}}

      - name: benchmark unordered bluesky
        run: chmod +x ./scripts/queries/benchmark_queries/build_and_benchmark_bluesky_unordered.sh && ./scripts/queries/benchmark_queries/build_and_benchmark_bluesky_unordered.sh -b Release

      - name: Read CSV
        id: csv_6
        uses: juliangruber/read-file-action@v1
        with:
          path: ./src/targets/experiments/unordered_bluesky/benchmark_Release.csv

      - name: Create MD
        uses: petems/csv-to-md-table-action@master
        id: csv-table-output_6
        with:
          csvinput: ${{ steps.csv_6.outputs.content }}

      - uses: mshick/add-pr-comment@v2
        with:
          message-id: 6
          message: |
            Unordered Bluesky:
            ${{steps.csv-table-output_6.outputs.markdown-table}}

      - uses: actions/upload-artifact@v4
        with:
          name: benchmarks
          path: |
            src/targets/experiments/*/benchmark_Release.csv
