name: Test Checks

on:
  pull_request:
    branches:
      - main

concurrency:
  group: ${{ github.workflow }}-${{ github.event.pull_request.number || github.ref }}
  cancel-in-progress: true

env:
  VCPKG_BINARY_SOURCES: "clear;x-gha,readwrite"

jobs:
  run-basic-tests-debug:
    strategy:
      matrix:
        compiler_profile: [clang-libstdcxx, gcc-libstdcxx]
    runs-on: ubuntu-latest
    steps:
      - name: Check out repository code
        uses: actions/checkout@v6

      - name: Export GitHub Actions cache variables
        run: |
          echo "ACTIONS_CACHE_URL=${ACTIONS_CACHE_URL}" >> $GITHUB_ENV
          echo "ACTIONS_RUNTIME_TOKEN=${ACTIONS_RUNTIME_TOKEN}" >> $GITHUB_ENV

      - name: Install LLVM and Clang
        uses: KyleMayes/install-llvm-action@v2
        with:
          version: "19.1.7"

      - name: Install libtinfo5 for clang
        run: |
          sudo apt update
          wget http://security.ubuntu.com/ubuntu/pool/universe/n/ncurses/libtinfo5_6.3-2ubuntu0.1_amd64.deb
          sudo apt install ./libtinfo5_6.3-2ubuntu0.1_amd64.deb

      - name: Set up GCC
        run: |
          sudo apt install gcc-14 g++-14
          sudo update-alternatives --install /usr/bin/gcc gcc /usr/bin/gcc-14 60 --slave /usr/bin/g++ g++ /usr/bin/g++-14 && sudo update-alternatives --config gcc

      - name: Check versions
        run: |
          clang --version
          clang-format --version
          gcc -v

      - name: Install vcpkg system dependencies
        run: sudo apt install -y curl zip unzip tar pkg-config autoconf automake libtool

      - name: Install dependencies
        run: chmod +x ./scripts/install_dependencies.sh && ./scripts/install_dependencies.sh

      - name: base build
        run: chmod +x ./scripts/build.sh && ./scripts/build.sh -b Debug -c ${{ matrix.compiler_profile }}

      - name: build with grammar
        run: chmod +x ./scripts/build_grammar.sh && ./scripts/build_grammar.sh -b Debug -c ${{ matrix.compiler_profile }}

      - name: run tests
        run: chmod +x ./scripts/build_and_test.sh && ./scripts/build_and_test.sh -b Debug -c ${{ matrix.compiler_profile }}

  run-sanitizer-tests-debug:
    strategy:
      matrix:
        compiler_profile: [clang-libstdcxx]
    runs-on: ubuntu-latest
    steps:
      - name: Check out repository code
        uses: actions/checkout@v6

      - name: Export GitHub Actions cache variables
        run: |
          echo "ACTIONS_CACHE_URL=${ACTIONS_CACHE_URL}" >> $GITHUB_ENV
          echo "ACTIONS_RUNTIME_TOKEN=${ACTIONS_RUNTIME_TOKEN}" >> $GITHUB_ENV

      - name: Install LLVM and Clang
        uses: KyleMayes/install-llvm-action@v2
        with:
          version: "19.1.7"

      - name: Install libtinfo5 for clang
        run: |
          sudo apt update
          wget http://security.ubuntu.com/ubuntu/pool/universe/n/ncurses/libtinfo5_6.3-2ubuntu0.1_amd64.deb
          sudo apt install ./libtinfo5_6.3-2ubuntu0.1_amd64.deb

      - name: Set up GCC
        run: |
          sudo apt install gcc-14 g++-14
          sudo update-alternatives --install /usr/bin/gcc gcc /usr/bin/gcc-14 60 --slave /usr/bin/g++ g++ /usr/bin/g++-14 && sudo update-alternatives --config gcc

      - name: Check versions
        run: |
          clang --version
          clang-format --version
          gcc -v

      - name: Install vcpkg system dependencies
        run: sudo apt install -y curl zip unzip tar pkg-config autoconf automake libtool

      - name: Install dependencies
        run: chmod +x ./scripts/install_dependencies.sh && ./scripts/install_dependencies.sh

      - name: base build
        run: chmod +x ./scripts/build.sh && ./scripts/build.sh -b Debug -c ${{ matrix.compiler_profile }}

      - name: build with grammar
        run: chmod +x ./scripts/build_grammar.sh && ./scripts/build_grammar.sh -b Debug -c ${{ matrix.compiler_profile }}

      - name: run tests with address sanitizer
        run: chmod +x ./scripts/build_and_test.sh && ./scripts/build_and_test.sh -b Debug -s address -c ${{ matrix.compiler_profile }}

      - name: run tests with thread sanitizer
        run: chmod +x ./scripts/build_and_test.sh && ./scripts/build_and_test.sh -b Debug -s thread -c ${{ matrix.compiler_profile }}

  run-address-sanitizer-tests-release:
    strategy:
      matrix:
        compiler_profile: [clang-libstdcxx]
    runs-on: ubuntu-latest
    steps:
      - name: Check out repository code
        uses: actions/checkout@v6

      - name: Export GitHub Actions cache variables
        run: |
          echo "ACTIONS_CACHE_URL=${ACTIONS_CACHE_URL}" >> $GITHUB_ENV
          echo "ACTIONS_RUNTIME_TOKEN=${ACTIONS_RUNTIME_TOKEN}" >> $GITHUB_ENV

      - name: Install LLVM and Clang
        uses: KyleMayes/install-llvm-action@v2
        with:
          version: "19.1.7"

      - name: Install libtinfo5 for clang
        run: |
          sudo apt update
          wget http://security.ubuntu.com/ubuntu/pool/universe/n/ncurses/libtinfo5_6.3-2ubuntu0.1_amd64.deb
          sudo apt install ./libtinfo5_6.3-2ubuntu0.1_amd64.deb

      - name: Set up GCC
        run: |
          sudo apt install gcc-14 g++-14
          sudo update-alternatives --install /usr/bin/gcc gcc /usr/bin/gcc-14 60 --slave /usr/bin/g++ g++ /usr/bin/g++-14 && sudo update-alternatives --config gcc

      - name: Check versions
        run: |
          clang --version
          clang-format --version
          gcc -v

      - name: Install vcpkg system dependencies
        run: sudo apt install -y curl zip unzip tar pkg-config autoconf automake libtool

      - name: Install dependencies
        run: chmod +x ./scripts/install_dependencies.sh && ./scripts/install_dependencies.sh

      - name: base build
        run: chmod +x ./scripts/build.sh && ./scripts/build.sh -b Release -s address -c ${{ matrix.compiler_profile }}

      - name: build with grammar
        run: chmod +x ./scripts/build_grammar.sh && ./scripts/build_grammar.sh -b Release -s address -c ${{ matrix.compiler_profile }}

      - name: run tests with address sanitizer
        run: chmod +x ./scripts/build_and_test.sh && ./scripts/build_and_test.sh -b Release -s address -c ${{ matrix.compiler_profile }}

      - name: run stock query tests with address sanitizer
        run: chmod +x ./scripts/queries/base_queries/build_and_test_stock_queries.sh && ./scripts/queries/base_queries/build_and_test_stock_queries.sh -b Release -s address -c ${{ matrix.compiler_profile }}

  run-thread-sanitizer-tests-release:
    strategy:
      matrix:
        compiler_profile: [clang-libstdcxx]
    runs-on: ubuntu-latest
    steps:
      - name: Check out repository code
        uses: actions/checkout@v6

      - name: Export GitHub Actions cache variables
        run: |
          echo "ACTIONS_CACHE_URL=${ACTIONS_CACHE_URL}" >> $GITHUB_ENV
          echo "ACTIONS_RUNTIME_TOKEN=${ACTIONS_RUNTIME_TOKEN}" >> $GITHUB_ENV

      - name: ccache
        uses: hendrikmuhs/ccache-action@v1.2
        with:
          key: ${{ github.job }}-${{ matrix.os }}
          create-symlink: true

      - name: Install LLVM and Clang
        uses: KyleMayes/install-llvm-action@v2
        with:
          version: "19.1.7"

      - name: Install libtinfo5 for clang
        run: |
          sudo apt update
          wget http://security.ubuntu.com/ubuntu/pool/universe/n/ncurses/libtinfo5_6.3-2ubuntu0.1_amd64.deb
          sudo apt install ./libtinfo5_6.3-2ubuntu0.1_amd64.deb

      - name: Set up GCC
        run: |
          sudo apt install gcc-14 g++-14
          sudo update-alternatives --install /usr/bin/gcc gcc /usr/bin/gcc-14 60 --slave /usr/bin/g++ g++ /usr/bin/g++-14 && sudo update-alternatives --config gcc

      - name: Check versions
        run: |
          clang --version
          clang-format --version
          gcc -v

      - name: Install vcpkg system dependencies
        run: sudo apt install -y curl zip unzip tar pkg-config autoconf automake libtool

      - name: Install dependencies
        run: chmod +x ./scripts/install_dependencies.sh && ./scripts/install_dependencies.sh

      - name: base build
        run: chmod +x ./scripts/build.sh && ./scripts/build.sh -b Release -s address -c ${{ matrix.compiler_profile }}

      - name: build with grammar
        run: chmod +x ./scripts/build_grammar.sh && ./scripts/build_grammar.sh -b Release -s address -c ${{ matrix.compiler_profile }}

      - name: run tests with thread sanitizer
        run: chmod +x ./scripts/build_and_test.sh && ./scripts/build_and_test.sh -b Release -s thread -c ${{ matrix.compiler_profile }}

      - name: run stock query tests with thread sanitizer
        run: chmod +x ./scripts/queries/base_queries/build_and_test_stock_queries.sh && ./scripts/queries/base_queries/build_and_test_stock_queries.sh -b Release -s thread -c ${{ matrix.compiler_profile }}


  run-tests-release:
    strategy:
      matrix:
        compiler_profile: [clang-libstdcxx, gcc-libstdcxx]
    runs-on: ubuntu-latest
    steps:
      - name: Check out repository code
        uses: actions/checkout@v6

      - name: Export GitHub Actions cache variables
        run: |
          echo "ACTIONS_CACHE_URL=${ACTIONS_CACHE_URL}" >> $GITHUB_ENV
          echo "ACTIONS_RUNTIME_TOKEN=${ACTIONS_RUNTIME_TOKEN}" >> $GITHUB_ENV

      - name: ccache
        uses: hendrikmuhs/ccache-action@v1.2
        with:
          key: ${{ github.job }}-${{ matrix.os }}
          create-symlink: true

      - name: Install LLVM and Clang
        uses: KyleMayes/install-llvm-action@v2
        with:
          version: "19.1.7"

      - name: Install libtinfo5 for clang
        run: |
          sudo apt update
          wget http://security.ubuntu.com/ubuntu/pool/universe/n/ncurses/libtinfo5_6.3-2ubuntu0.1_amd64.deb
          sudo apt install ./libtinfo5_6.3-2ubuntu0.1_amd64.deb

      - name: Set up GCC
        run: |
          sudo apt install gcc-14 g++-14
          sudo update-alternatives --install /usr/bin/gcc gcc /usr/bin/gcc-14 60 --slave /usr/bin/g++ g++ /usr/bin/g++-14 && sudo update-alternatives --config gcc

      - name: Check versions
        run: |
          clang --version
          clang-format --version
          gcc -v

      - name: Install vcpkg system dependencies
        run: sudo apt install -y curl zip unzip tar pkg-config autoconf automake libtool

      - name: Install dependencies
        run: chmod +x ./scripts/install_dependencies.sh && ./scripts/install_dependencies.sh

      - name: base build
        run: chmod +x ./scripts/build.sh && ./scripts/build.sh -b Release -c ${{ matrix.compiler_profile }}

      - name: build with grammar
        run: chmod +x ./scripts/build_grammar.sh && ./scripts/build_grammar.sh -b Release -c ${{ matrix.compiler_profile }}

      - name: run tests
        run: chmod +x ./scripts/build_and_test.sh && ./scripts/build_and_test.sh -b Release -c ${{ matrix.compiler_profile }}

      - name: run stock query tests
        run: chmod +x ./scripts/queries/base_queries/build_and_test_stock_queries.sh && ./scripts/queries/base_queries/build_and_test_stock_queries.sh -b Release -c ${{ matrix.compiler_profile }}

      - name: run unordered stock query tests
        run: chmod +x ./scripts/queries/base_queries/build_and_test_stock_queries_unordered.sh && ./scripts/queries/base_queries/build_and_test_stock_queries_unordered.sh -b Release -c ${{ matrix.compiler_profile }}

      - name: run smart home query tests
        run: chmod +x ./scripts/queries/base_queries/build_and_test_smart_homes_queries.sh && ./scripts/queries/base_queries/build_and_test_smart_homes_queries.sh -b Release --exclude q3_none.txt --exclude q4_none.txt -c ${{ matrix.compiler_profile }}

      - name: run taxi query tests
        run: chmod +x ./scripts/queries/base_queries/build_and_test_taxi_queries.sh && ./scripts/queries/base_queries/build_and_test_taxi_queries.sh -b Release -c ${{ matrix.compiler_profile }}

      - name: run ordered bluesky query tests
        run: chmod +x ./scripts/queries/base_queries/build_and_test_bluesky_ordered.sh && ./scripts/queries/base_queries/build_and_test_bluesky_ordered.sh -b Release -c ${{ matrix.compiler_profile }}

      - name: run unordered bluesky query tests
        run: chmod +x ./scripts/queries/base_queries/build_and_test_bluesky_unordered.sh && ./scripts/queries/base_queries/build_and_test_bluesky_unordered.sh -b Release -c ${{ matrix.compiler_profile }}

      # - name: run tests with address sanitizer
      #   run: chmod +x ./scripts/build_and_test.sh && ./scripts/build_and_test.sh -b Release -s address

      # - name: run tests with thread sanitizer
      #   run: chmod +x ./scripts/build_and_test.sh && ./scripts/build_and_test.sh -b Release -s thread

  build-pycer:
    runs-on: ubuntu-latest
    steps:
      - name: Check out repository code
        uses: actions/checkout@v6

      - name: Export GitHub Actions cache variables
        run: |
          echo "ACTIONS_CACHE_URL=${ACTIONS_CACHE_URL}" >> $GITHUB_ENV
          echo "ACTIONS_RUNTIME_TOKEN=${ACTIONS_RUNTIME_TOKEN}" >> $GITHUB_ENV

      - uses: astral-sh/setup-uv@v7.3.0

      - name: Install LLVM and Clang
        uses: KyleMayes/install-llvm-action@v2
        with:
          version: "19.1.7"

      - name: Install libtinfo5 for clang
        run: |
          sudo apt update
          wget http://security.ubuntu.com/ubuntu/pool/universe/n/ncurses/libtinfo5_6.3-2ubuntu0.1_amd64.deb
          sudo apt install ./libtinfo5_6.3-2ubuntu0.1_amd64.deb

      - name: Set up GCC
        run: |
          sudo apt install gcc-14 g++-14
          sudo update-alternatives --install /usr/bin/gcc gcc /usr/bin/gcc-14 60 --slave /usr/bin/g++ g++ /usr/bin/g++-14 && sudo update-alternatives --config gcc

      - name: Install vcpkg system dependencies
        run: sudo apt install -y curl zip unzip tar pkg-config autoconf automake libtool

      - name: Install dependencies
        run: chmod +x ./scripts/install_dependencies.sh && ./scripts/install_dependencies.sh

      - name: Build pycer wheel
        run: uv build --wheel

      - name: Verify pycer import
        run: uv run python -c "import pycer; print('pycer loaded successfully')"
