name: Build Checks

on:
  workflow_dispatch:
  pull_request:
    branches:
      - main

concurrency:
  group: ${{ github.workflow }}-${{ github.event.pull_request.number || github.ref }}
  cancel-in-progress: true

jobs:
  build-release-and-debug:
    strategy:
      matrix:
        vcpkg_profile: [x86_64-linux-clang-libstdc, x86_64-linux-gcc-libstdc]
    runs-on: ubuntu-latest
    steps:
      - name: Maximize build space
        uses: easimon/maximize-build-space@v10
        with:
          overprovision-lvm: true
          remove-dotnet: true
          remove-android: true

      - name: Check out repository code
        uses: actions/checkout@v3

      - name: ccache
        uses: hendrikmuhs/ccache-action@v1.2
        with:
          key: ${{ github.job }}-${{ matrix.os }}
          create-symlink: true

      - name: Install LLVM and Clang
        uses: KyleMayes/install-llvm-action@v2
        with:
          version: "19.1.7"

      - name: Install libtinfo5 for clang
        run: |
          sudo apt update
          wget http://security.ubuntu.com/ubuntu/pool/universe/n/ncurses/libtinfo5_6.3-2ubuntu0.1_amd64.deb
          sudo apt install ./libtinfo5_6.3-2ubuntu0.1_amd64.deb

      - name: Set up GCC
        run: |
          sudo apt install gcc-14 g++-14
          sudo update-alternatives --install /usr/bin/gcc gcc /usr/bin/gcc-14 60 --slave /usr/bin/g++ g++ /usr/bin/g++-14 && sudo update-alternatives --config gcc

      - name: Check versions
        run: |
          clang --version
          clang-format --version
          gcc -v

      - name: Setup vcpkg
        run: |
          git clone https://github.com/microsoft/vcpkg.git $HOME/vcpkg
          $HOME/vcpkg/bootstrap-vcpkg.sh
          echo "VCPKG_ROOT=$HOME/vcpkg" >> $GITHUB_ENV

      - name: install dependencies vcpkg
        run: chmod +x ./scripts/install_dependencies.sh && ./scripts/install_dependencies.sh

      - name: base build
        run: chmod +x ./scripts/build.sh && ./scripts/build.sh -b Debug -p vcpkg_triplets/${{ matrix.vcpkg_profile }}

      - name: build with grammar
        run: chmod +x ./scripts/build_grammar.sh && ./scripts/build_grammar.sh -b Debug -p vcpkg_triplets/${{ matrix.vcpkg_profile }}
        
      - name: debug build
        run: chmod +x ./scripts/build.sh && ./scripts/build.sh -b Debug -p vcpkg_triplets/${{ matrix.vcpkg_profile }}

      - name: release build
        run: chmod +x ./scripts/build.sh && ./scripts/build.sh -b Release -p vcpkg_triplets/${{ matrix.vcpkg_profile }}
